/* This design is heavily inspired by http://haste-lang.org/ */

body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 65em;
    overflow-y: scroll;
    line-height: 1.4;
    background-color: #fff9e5;
    color: black;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

pre {
    font-family: Courier, Monospace;
    line-height: 1;
    padding: 0.5em;
    margin: 0;
    background-color: #d8d3c3;
    color: black;
    min-width: 100%;
    max-width: none;
    display: inline-block;
}

.quicklinks {
    float: right;
    margin: 1ex;
    padding: 1ex;
    border: 1px solid black;
}

.quicklinks ul, .quicklinks li, .quicklinks p {
    margin: 0;
    padding-left: 1ex;
    list-style: none;
}

a {
    text-decoration:none;
    color:#428bca;
    font-weight:bold
}

a:visited {
    text-decoration:none;
    color:#0a4080;
    font-weight:bold
}

#header {
    margin-bottom: 4em;
    padding: 12px 0px 12px 0;
    background-color: #5f021f;
    background-image: url(../images/logo-white.svg);
    background-size: 6em;
    background-position: 5% 30%;
    background-repeat: no-repeat;
}

#logo {
    display: block;
    font-size: 30px;
    color: #fff9e5;
    margin-left: 200px;
    position: relative;
}
#logo a {
    text-decoration:none;
    color:#fff9e5;
    font-weight: normal;
}
#slogan {
    font-size: 14px;
    color: #fff9e5;
    margin-top: 10px;
    margin-left: 200px;
}

#content{
    padding: 1.5em;
    padding-top: 0.5em;
    vertical-align: top;
}

#footer {
    font-size: 10pt;
    padding: 20px;
}

#footer div {
    text-align: right;
}

.posttitle {
    margin-bottom: 0em;
}

.postmetadata {
    margin-top:-1em;
    font-size:10pt;
}

.papermetadata {
    margin-top:-1em;
    font-size:10pt;
}

#menu{
    list-style-type:none;
    padding:0;
    margin:0;
    margin-top: -1em;
    position: relative;
    width:100%;
    top: 1em;
}
#menu li {
    margin:0;
    color: #fff9e5;
}
#menu li a {
    background-color: #5f021f;
    color: #fff9e5;
    text-decoration: none;
}

#menu #chosen, #menu #chosen a, #menu a:hover {
    color: #5f021f;
    background-color: #fff9e5;
}

@media (min-width:950px){
    #menu{
        float:top;
        display:block;
        padding-top:2em;
        text-align:center;
    }
    #menu li {
        margin:0;
        text-align:center;
        display:inline;
    }
    #menu li a {
        padding: 1em;
        border:1px solid black;
    }
}
@media (max-width:949px){
    body {
        width: 100%;
    }

    ol {
        padding-left: 0;
    }

    #header {
        background: #5f021f;
    }

    #logo {
        margin-left: 20px;
    }

    #slogan {
        margin-left: 20px;
    }

    #menu {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #menu li {
        text-align:left;
    }
    #menu li a {
        display: block;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.performance_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6m;
    max-width: 80%;
}

li { margin-top: 1em; }

li p:first-child { margin-top: 0; }

li p:last-child { margin-bottom: 0; }
