/* This design is heavily inspired by http://haste-lang.org/ */

body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 65em;
    overflow-y: scroll
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

pre {
    padding:1em;
    background-color:#f5f5f5
}

a {
    text-decoration:none;
    color:#428bca;
    font-weight:bold
}

a:visited {
    text-decoration:none;
    color:#0a4080;
    font-weight:bold
}

#header {
    margin-bottom: 4em;
    padding: 12px 0px 12px 0px;
    background-color: #5f021f;
}

#logo {
    font-size: 30px;
    color: #fff;
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
    width: 700px;
}
#logo a {
    text-decoration:none;
    color:#fff;
    font-weight: normal;
}
#slogan {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    width: 600px;
}

#content{
    background-color: white;
    padding: 1.5em;
    padding-top: 0.5em;
    vertical-align: top;
    height: 100%;
    min-height: 14em;
}

.posttitle {
    margin-bottom: 0em;
}

.postmetadata {
    margin-top:0em;
    font-size:10pt;
}

#menu{
    background-color: #5f021f;
    font-family:verdana;
    list-style-type:none;
    padding:0;
    margin:0;
    margin-top: -3em;
    position: relative;
    top: 3em;
    width:100%;
}
#menu li {
    margin:0;
    color: white;
}
#menu li a {
    background-color: #5f021f;
    color: white;
    text-decoration: none;
}

#menu #chosen, #menu #chosen a {
    color: #5f021f;
    background-color: white;
    text-decoration: none;
}

@media (min-width:950px){
    #menu{
        float:top;
        display:block;
        padding-top:2em;
        text-align:center;
    }
    #menu li {
        margin:0;
        text-align:center;
        display:inline;
    }
    #menu li a {
        padding: 1em;
        border:1px solid black;
    }
}
@media (max-width:949px){
    #menu {
        padding-top:0em;
    }
    #menu li {
        padding:0.5em;
        padding-left:2em;
        margin:0em;
        text-align:left;
        border:1px solid black;
        border-top:none;
        border-bottom:none
    }
}

.performance_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6m;
    width: 80%;
}
