<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ | Futhark - A High Performance Functional Array Language</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <meta name="description" content="A high-performance and high-level purely functional data-parallel array programming language that can execute on the GPU and other parallel platforms.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="header">
      <span id="logo"><a href="/">The Futhark Programming Language</a></span>
      <div id="slogan">
        High-performance purely functional data-parallel array programming on the GPU
      </div>
      $menu$
    </div>

    <div id="content">
      <h1>$title$</h1>

      $body$
    </div>

    <div id="footer">
      <div id="HIPERFIT"><a href="http://hiperfit.dk/">HIPERFIT research center</a></div>
      <div id="DIKU">Department of Computer Science at the University of Copenhagen
        (<a href="http://www.diku.dk/">DIKU</a>)</div>
    </div>
  </body>
</html>
